<!DOCTYPE html>
<html>
<head>
    <title>Hello Friend!Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>Please fill this out to get your MadLib:</p>
            </div>
            <div class="col-4">
                <form action="/result">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                        <input type="text" class="form-control" placeholder="Adjective" id="adjOne" name="adjOne" required>
                        <input type="text" class="form-control" placeholder="Verb" id="verbOne" name="verbOne" required>
                        <input type="text" class="form-control" placeholder="Plural Noun" id="nounOne" name="nounOne" required>
                        <input type="text" class="form-control" placeholder="Verb" id="verbTwo" name="verbTwo" required>
                        <input type="text" class="form-control" placeholder="Plural Noun" id="nounTwo" name="nounTwo" required>
                        <input type="text" class="form-control" placeholder="Verb" id="verbThree" name="verbThree" required>
                        <input type="text" class="form-control" placeholder="Plural Noun" id="nounThree" name="nounThree" required>
                        <input type="text" class="form-control" placeholder="Adverb" id="adverb" name="adverb" required>
                        <button type="submit" class="btn btn-info">Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>